@import "tachyons";

.App {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(10, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.map {
  grid-column: 4/11;
  grid-row: 1/7;
  z-index: 1;
}

.header {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: 2;
  background: rgba(255,255,255,0.9);
  /* display: none; */
}

.details {
  grid-column: 1/4;
  grid-row: 4/13;
  z-index: 2;
  background: rgba(255,255,255,0.8);
  /* max-height: 80vh; */
  overflow: auto;
  /* display: none; */
}